numpy
scipy
matplotlib==1.3.1
scikit-learn
ipython[notebook]
pytest
# Other things you may want (uncomment to add these to requirements)
Pillow
Theano==0.8.0rc1
-e git+http://github.com/petered/plato#egg=plato
# -e git+http://github.com/lisa-lab/pylearn2.git#egg=pylearn2
